:root {
    --title:rgb(17, 63, 52);
}

* {
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

body {
    margin: 0;
    padding: 0;    
}

.header-section {
    height: 100dvh;
    background: linear-gradient(202deg, rgba(204, 255, 0, 0.20) 1.66%, rgba(204, 255, 0, 0.00) 100%), linear-gradient(241deg, #36DEA1 0%, rgba(40, 194, 138, 0.00) 100%), linear-gradient(193deg, #14B2CF 0%, rgba(14, 169, 197, 0.57) 43.33%, rgba(5, 156, 184, 0.00) 100%), #6B347E;
}


.header-section::before {
    content: '';
    background-image: url(./images/arabic-letters.png) ;
    position: absolute;
    rotate: 180deg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .08;
    width: 100%;
    height: 100%;
    filter: brightness(0);  
}

.flex-container {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 3rem 0 3rem;
}

.flex-container > * {
    flex-basis: 100%;
}

.logo{
    z-index: 1;
}

.navbar {
    justify-content: center;
}

.nav-list {
    list-style-type: none;
    margin: 0; 
    display: flex;
    flex-direction: row-reverse;
    gap: 2.5rem;
    padding: 0;
}


.nav-list li > a {
    display: flex;
    text-decoration: none;
    font-size: 1.05rem;
    color: white;                     
} 

.nav-list li > a:hover {
    font-weight:500;
    transform: scale(1.05);
    transition: all .55s ease;
} 

.contact {
    z-index: 1;
    list-style-type: none;
    margin: 0; 
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    padding: 0;
}

.contact li > a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    margin: 0;
}

.hero-section {
    height: 90%;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    margin-right:clamp(1.5rem, -0.875rem + 8.333vw, 3rem)
}

.main-background {
   
}


.title {
    z-index: 1;
    display: flex;
    flex-direction: column;  
}

.main-title, .second-title  {
    font-family: 'El Messiri', sans-serif;
    font-weight:700;
    font-size:clamp(2.3rem, -0.875rem + 8.333vw, 4rem);
    color: white;
}
.main-title {
    margin-top: -2rem;
    padding-bottom: 1rem;
}



@media (max-width:600px)
{
    .flex-container {
     flex-direction: column;
     margin: 0 auto;
    }
}